.ksports-comingsoon {
    background: #F9F9F9;
    
    .comingsoon-content {
        height: 700px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: 'Spantaran';
            font-weight: 400;
            font-size: 70px;
            line-height: 1;
            text-align: center;
            text-transform: capitalize;
            color: #19052B;
        }
    }
}


@media (max-width: 767px) {
    .ksports-comingsoon .comingsoon-content {
        height: 410px;
    }
    .ksports-comingsoon .comingsoon-content h1 {
        font-size: 33px;
    }
    
}