.ksports-contact {
    padding: 150px 0;

    .overlay {
        background: linear-gradient(90deg, #F4F4F4 -14.01%, rgba(255, 255, 255, 0) 100%);
        width: 50%;
        left: inherit;
        right: 0;
    }

    .contact-us-content-wrapper {
        width: 100%;
        max-width: 960px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;

        .social-menu {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            border-top: 1px solid #BDBDBD;
            margin-top: auto;
            padding-top: 14px;
    
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #19052B;
                display: block;
                width: 100%;
            }
    
            li {
                margin-right: 28px;
    
                &:last-child {
                    margin-right: 0;
                }
    
                a {
                    color: #000000;
                    font-size: 28px;
    
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .contact-us-left {
            width: 50%;
            padding-right: 50px;

            .form-title {
                font-weight: 600;
                font-size: 40px;
                line-height: 1;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #19052B;
                margin-bottom: 60px;
            }

            form {
                h5 {
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 1.3;
                    color: #19052B;
                    text-transform: capitalize;
                    margin-bottom: 12px;
                }
            }

            .social-menu {
                display: none;
            }

        }

        .contact-us-right {
            width: 50%;
            padding-left: 50px;
            display: flex;
            flex-flow: column;


            h5 {
                font-weight: 500;
                font-size: 28px;
                line-height: 1.3;
                text-transform: capitalize;
                color: #19052B;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: #4B4B4B;
                margin-top: 10px;
            }

        }

    }

}

@media (max-width: 1199px) {
    .ksports-contact {
        padding: 80px 0;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-left .form-title {
        font-size: 33px;
        margin-bottom: 30px;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-left form h5 {
        font-size: 22px;
    }

}

@media (max-width: 991px) {
    .ksports-contact .contact-us-content-wrapper .contact-us-left {
        padding-right: 30px;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-right {
        padding-left: 30px;
    }

}

@media (max-width: 767px) {
    .ksports-contact {
        padding: 60px 0;
    }
    .ksports-contact .overlay {
        display: none;    
    }
    
    .ksports-contact .contact-us-content-wrapper {
        flex-flow: column-reverse;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-left {
        width: 100%;
        padding-right: 0;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-left .form-title {
        display: none;
    }
    
    .ksports-contact .contact-us-content-wrapper .contact-us-right {
        width: 100%;
        padding-left: 0;
        display: block;
        margin-bottom: 40px;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-right .social-menu {
        display: none;
    }

    .ksports-contact .contact-us-content-wrapper .contact-us-left ul.social-menu {
        display: flex;
        margin-top: 30px;
        text-align: center;
        justify-content: center;
        border-top: 0;
    }

}

@media (max-width: 575px) {
    .ksports-contact .contact-us-content-wrapper .contact-us-right h5 {
        font-size: 24px;
    }
    .ksports-contact .contact-us-content-wrapper .contact-us-left form h5 {
        font-size: 20px;
    }

}