.admin-body {
    background: #FAFAFA;
}

.ksports-dahboard-header {
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
    padding: 10px 0;
    background: #fff;

    .navbar {
        padding: 0;
    }

    .user-name-area {
        display: flex;
        align-items: center;

        .notification {
            font-size: 22px;
            line-height: 1;
            border: none;
            background: transparent;
            position: relative;
            margin-right: 30px;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                right: -1px;
                top: 0px;
                width: 7px;
                height: 7px;
                background: red;
                border-radius: 100%;
            }
        }

        .user-name {
            display: flex;
            align-items: center;

            &>a {
                font-size:16px;
                color: #333;
                font-weight: 600;
            }

            .profile-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 8px;
            }

            i {
                color: #555;
                position: relative;
                top: 1px;
                margin-left: 5px;
            }

            .user-dropdown {
                position: absolute;
                top: calc(100% + 15px);
                right: 0;
                background: #fff;
                width: 220px;
                box-shadow: 0px 0px 20px #00000026;
                border-radius: 10px;
                padding: 10px 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;

                &:before {
                    content: "";
                    position: absolute;
                    right: 20px;
                    top: -5px;
                    width: 12px;
                    height: 12px;
                    background: #fff;
                    transform: rotate(45deg);
                    box-shadow: 0px 0px 30px #0000001a;
                }

                li {
                    a {
                        color: #989898;
                        font-weight: 600;
                        font-size: 16px;
                        padding: 10px 15px;
                        display: block;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            &:hover .user-dropdown {
                top: calc(100% - 5px);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .search-form {
        position: relative;
        margin-left: 120px;

        i {
            position: absolute;
            left: 14px;
            top: 17px;
            color: #B7BDD1;
        }
        input {
            padding-left: 36px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 10px;
            color: #B7BDD1;
        }
    }
}

.ksports-admin-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    .admin-sidebar {
        width: 300px;
        background: #FFFFFF;
        height: 100vh;
        position: sticky;
        top: 0;
        padding-top: 40px;
        border-right: 1px solid #E6E6E6;

        .logo a {
            display: block;
            padding: 14px 22px;
            border-bottom: 1px solid #eee;
        }

        .admin-menu {
            padding-right: 40px;

            li {
                a {
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.4;
                    color: #828282;
                    padding: 16px 32px;
                    display: flex;
                    align-items: center;
                    border-radius: 0 10px 10px 0;
                    text-transform: capitalize;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 7px;
                        height: 100%;
                        background: $primary-color;
                        display: none;
                    }

                    &:hover {
                        color: $primary-color;
                    }

                    svg {
                        margin-right: 12px;
                    }
                }

                &.active {
                    a {
                        color: $primary-color;

                        &::before {
                            display: block;
                        }

                        rect,
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }
        }
    }

    .admin-main-content {
        width: calc(100% - 300px);
        padding: 20px;
        
        .section-heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.3;
            color: #262324;
            margin-bottom: 20px;
            font-family: "Open Sans", sans-serif;
        }

        .case-details {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;

            .section-heading {
                width: calc(100% - 330px);
                display: flex;
                align-items: center;
                justify-content: space-between;

                .date {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.3;
                    display: flex;
                    align-items: center;
                    color: #989898;
                }
            }

            .case-details-wrapper {
                width: calc(100% - 330px);
                background: #FFFFFF;
                border-radius: 10px;
                padding: 20px 25px;

                h1 {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 1.2;
                    color: #4B4B4B;
                    margin-bottom: 24px;
                }

                p {
                    color: #989898;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .attachemt-area {
                    .single-attachment {
                        border: 1px solid #C4C4C4;
                        border-radius: 10px;
                        padding: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        .file-name {
                            width: calc(100% - 160px);
                            padding-right: 10px;

                            h6 {
                                font-weight: 600;
                                font-family: "Open Sans", sans-serif;
                                font-size: 20px;
                                line-height: 1.2;
                                color: #262324;
                            }
                            .file-size {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 26px;
                                display: block;
                                color: #989898;
                                margin-top: 2px;
                            }
                        }

                        .ksports-btn {
                            background: #56CCA1;
                        }
                    }
                }
            }

            .price-area {
                background: #FFFFFF;
                box-shadow: 0px 0px 30px #0000001a;
                border-radius: 10px;
                width: 270px;
                padding: 20px;

                label {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.3;
                    color: #262324;
                }

                .total-price {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 1.2;
                    color: #4B4B4B;
                }

                .ksports-btn {
                    background-color: $secondary-color;
                }
            }
        }

    }

    .dashboard-search-form {
        position: relative;
        margin-bottom: 30px;
        max-width: 340px;

        input {
            padding-left: 36px;
            background: #FFFFFF;
            border: 1px solid #DCDCDC;
            border-radius: 10px;
            color: #B7BDD1;
        }

        i {
            position: absolute;
            left: 14px;
            top: 17px;
            color: #B7BDD1;
        }
    }

}



.ksports-table-wrapper {
    .ksports-table-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-bottom: 1px solid #DCDCDC;

        li {
            padding: 13px 14px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: #989898;

            &.id {
                width: 110px;
            }
            
            &.player-name {
                width: 310px;
                display: flex;
                align-items: center;

                img {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    margin-right: 10px;
                }
            }

            &.email {
                width: 255px;
                word-break: break-all;
            }

            &.action {
                width: 197px;
                position: relative;
                display: flex;

                .ksports-btn {
                    padding: 8px 9px;
                    font-size: 13px;
                    min-width: 75px;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.delete {
                        background-color: #ED4C5C;
                        border-color: #ED4C5C;
                        color: #fff;
                    }
                }
            }

        }

        &.table-head {
            border: none;
            background: transparent;
            margin-bottom: 0;
            border-bottom: 1px solid #DCDCDC;

            li {
                color: #4B4B4B;
                font-weight: 700;
                text-transform: capitalize;
            }
        }

        &:first-child {
            border-top: 0;
        }
    }

    .add-new-btn-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;

        .ksports-btn {
            background: #0DC15C;
            border-color: #0DC15C;
            color: #fff;
            padding: 14px 15px;
            min-width: 120px;
            font-size: 16px;
        }
    }
}


//--------notification page--------
.notification-wrapper {
    .single-notificaiton {
        font-weight: 400;
        font-size: 16px;
        color: #737373;
        background: #F2F2F2;
        border-radius: 10px;
        padding: 15px 22px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}

//-------wallet page--------
.wallet-wrapper {

    .wallet-info {
        .upload-fund {
            background: #ffffff;
            border-radius: 10px;
            padding: 30px;
            margin-bottom: 40px;

            button {
                border: 2px solid #15375A;
                border-radius: 10px;
                background: transparent;
                padding: 18px 43px;
                font-weight: 600;
                font-size: 24px;
                line-height: 1;
                text-align: center;
                color: #15375A;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #15375A;
                    color: #fff;
                }
            }
        }

        .transition-history {
            background: #ffffff;
            border-radius: 10px;
            padding: 30px;

            .ksports-table-wrapper .ksports-table-row {
                background: transparent;
                border: none;
                border-radius: 0;
                margin-bottom: 0;
            }
            .ksports-table-wrapper .ksports-table-row li.player-name span {
                font-weight: 600;
                font-size: 18px;
                line-height: 1.2;
                color: #262324;

                small {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #989898;
                    display: block;
                    margin-top: 4px;
                }
            }
            .ksports-table-wrapper .ksports-table-row li.id {
                width: 110px;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #15375A;
            }
            .ksports-table-wrapper .ksports-table-row li.price {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 600;
                color: #262324;
                width: 100px;
            }
            .ksports-table-wrapper .ksports-table-row li.action {
                width: 150px;
            }
            .ksports-table-wrapper .ksports-table-row li.action button {
                background: #78DC94;
                border-radius: 10px;
                border: 1px solid #78DC94;
                padding: 11px 30px;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;

                &.dabit {
                    background: #FFF8D1;
                    border-color: #CCAD00;
                    color: #CCAD00;
                }
            }
        }
    }

    .wallet-balance {
        background: #ffffff;
        border-radius: 10px;
        padding: 30px;
        height: calc(100% - 50px);

        .avatar-area {
            text-align: center;

            .balance-author {
                width: 120px;
                height: 120px;
                object-fit: cover;
                margin-bottom: 10px;
            }

            .name {
                font-weight: 600;
                font-size: 24px;
                line-height: 1.2;
                color: #262324; 
            }
            .designation {
                font-weight: 400;
                font-size: 16px;
                line-height: 1;
                color: #989898;
            }
        }

        .total-balance {
            background: #15375A;
            border-radius: 10px;
            padding: 20px 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: 430px;
            margin: 50px auto 0;

            .icon {
                width: 50px;
                height: 50px;
                background: #fff;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                color: #15375A;
            }

            .title {
                font-weight: 600;
                font-size: 16px;
                line-height: 1;
                color: #FFFFFF;
                padding-left: 20px;
            }

            .amount {
                font-weight: 600;
                font-size: 24px;
                line-height: 1;
                color: #FFFFFF;
                margin-left: auto;
            }
        }
    }
    
}

//----order details page---------
.order-details-wrapper {
    .ksports-admin-wrapper .admin-main-content .section-heading span {
        color: #989898;
        font-weight: 400;
    }

    .ksports-table-wrapper .ksports-table-row li.player-name img {
        height: 60px;
        width: 60px;
    }

    .ksports-table-wrapper .ksports-table-row li.quantity {
        width: 90px;
    }
    .ksports-table-wrapper .ksports-table-row li.price {
        width: 120px;
    }
    .ksports-table-wrapper .ksports-table-row li.total {
        width: 120px;
    }


}


@media (max-width: 1199px) {
    .ksports-dahboard-header .collapse:not(.show) {
        display: flex;
        flex-basis: inherit;
    }

    .ksports-table-wrapper .ksports-table-row li.player-name {
        width: 210px;
    }
    .ksports-table-wrapper .ksports-table-row li.email {
        width: 235px;
    }

}


@media (max-width: 991px) {
    .ksports-dahboard-header .search-form {
        display: none;
    }
    
    .ksports-admin-wrapper {
        display: block;
    }
    .ksports-admin-wrapper .admin-sidebar {
        display: none;
    }
    .ksports-admin-wrapper .admin-main-content {
        width: 100%;
    }

}

@media (max-width: 767px) {
    .navbar-dark .navbar-brand img {
        max-width: 230px;
    }

    .ksports-table-wrapper .ksports-table-row {
        display: block;
    }
    .ksports-table-wrapper .ksports-table-row.table-head {
        display: none;
    }

    .ksports-table-wrapper .ksports-table-row li {
        width: 100% !important;
        display: flex;
        padding: 11px 10px;
    }

    .ksports-table-wrapper .ksports-table-row li:before {
        content: "" attr(data-title) ":";
        width: 130px;
        font-weight: 600;
        color: #000;
    }

}

@media (max-width: 575px) {
    .ksports-dahboard-header .navbar {
        padding: 0;
        display: block;
    }
    .ksports-dahboard-header .navbar-dark .navbar-brand {
        color: #fff;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .ksports-dahboard-header .collapse:not(.show) {
        justify-content: center;
        align-items: center;
    }

    .ksports-dahboard-header .user-name-area {
        margin-left: 0 !important;
        margin-top: 12px;
    }
    .ksports-dahboard-header .user-name-area .user-name {
        position: relative;
    }

}