.account-settings {
    .profile-area {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 24px;
        width: 100%;
        max-width: 657px;
        margin-bottom: 40px;

        .profile-img {
            margin-bottom: 40px;
            position: relative;
            border-radius: 100%;
            display: flex;
            align-items: center;

            img {
                height: 60px;
                width: 60px;
                object-fit: cover;
                border: 1px solid #cdcdcd;
                border-radius: 100%;
            }

            .edit-profile {
                border: none;
                line-height: 1;
                box-shadow: 0px 4px 5px #1910471a;
                padding: 10px 6px;
                cursor: pointer;
                background: #E6E6E6;
                color: #989898;
                border-radius: 5px;
                width: 130px;
                display: block;
                margin-left: 20px;
                text-align: center;
                font-size: 15px;
            }

        }

        form {
            margin-top: 30px;

            .form-group {
                position: relative;
                margin-bottom: 20px;

                label {
                    font-size: 14px;
                    color: #262324;
                }

                textarea,
                select,
                &>input {
                    height: 44px;
                    padding: 5px 15px;
                    font-size: 16px;
                    color: #989898;
                    background: #F2F2F2;
                    border-radius: 10px;
                    outline: none;
                    border: none!important;
                }

                .icon {
                    position: absolute;
                    bottom: 13px;
                    right: 0;
                }

                textarea {
                    background: #F9F9FB;
                    border:none!important;
                    border-radius: 5px;
                    padding: 17px;
                }

                .ksports-btn {
                    background: $secondary-color;
                    border-radius: 5px;
                }
            }

            .show-password {
                font-size: 18px;
                position: absolute;
                right: 1px;
                left: inherit;
                bottom: 8px;
                height: 43px;
                cursor: pointer;
                font-weight: 600;
                border: none;
                padding: 8px 10px 8px 10px;
                background: transparent;
                margin: 0;
                z-index: 2;
                pointer-events: all;
                display: flex;
                align-items: center;
                justify-content: center;

                .fa-eye {
                    display: none;
                }

                i {
                    position: relative;
                    bottom: 0;
                    right: inherit;
                }
            }

            .show-password-checkbox {
                display: none;
            }

        }
    }
}