.ksports-inbox-table-wrapper {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0 25px;

    .ksports-inbox-table-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        &:last-child {
            border-bottom: 0;
        }

        li {
            padding: 11px 10px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            color: #737373;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }


        }

        &.table-head {
            li {
                color: #3C4447;
                padding: 18px 10px;
            }
        }
    }
}

.message-list {
    .table-head {
        background: $primary-color !important;
        border-radius: 10px 10px 0px 0px;
        cursor: auto !important;
    }

    .ksports-inbox-table-row.table-head li {
        color: #fff;
    }

    .ksports-inbox-table-wrapper {
        padding: 0;

        .ksports-inbox-table-row {
            padding: 0 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            .msg-from {
                width: 270px;
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    object-fit: cover;
                }
            }
            .msg-subject {
                width: 150px;
            }
            .msg-date {
                width: 100px;
            }
            .msg-action {
                width: 80px;

                button {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    margin-left: 10px;
                }
            }

            &.active {
                background: #F7F7F7;

                li {
                    color: #15375A;
                }
            }
        }
    }

    .user-msg-wrapper {
        margin-top: 30px;
    }

    .individual-user-msg {
        display: none;

        .user-msg-box {
            background: #ffffff;
            border-radius: 5px;
            position: relative;
            padding: 20px 30px 20px 74px;

            .user-img {
                position: absolute;
                left: 22px;
                top: 12px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
            }

            .name {
                font-weight: 600;
                font-size: 16px;
                line-height: 1.4;
                color: #15375A;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
            }
            .msg-txt {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #737373;
            }
        }

        .user-msg-reply {
            position: relative;
            padding: 20px 30px 20px 74px;
            margin-top: 20px;

            .user-img {
                position: absolute;
                left: 22px;
                top: 12px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
            }

            .form-group {
                background: #ffffff;
                border: 1px solid #E6E6E6;
                border-radius: 5px;
                padding: 7px 17px 17px;

                textarea {
                    min-height: 80px;
                    padding: 0;
                    border-radius: 0;
                    font-size: 16px;
                    border: none!important;
                }
            }

            .submit-area {
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                .form-group {
                    padding: 0;
                    margin: 0 0 10px 0;
                    background: transparent;
                    border: none;

                    .selectbox::before {
                        border-right: 1px solid #060707;
                        border-bottom: 1px solid #060707;
                    }

                    input,
                    select {
                        width: 140px;
                        color: #060707;
                        margin-left: 10px;
                        background-color: #fff;
                    }

                    .ksports-btn {
                        min-width: 100px;
                        padding: 14px 25px;
                        border-radius: 5px;
                    }
                }
            }

        }
    }

}


@media (max-width: 1199px){

    .message-list .ksports-inbox-table-wrapper .ksports-inbox-table-row .msg-from {
        width: 190px;
    }

}


@media (max-width: 991px){
    .message-list .ksports-inbox-table-wrapper .ksports-inbox-table-row {
        padding: 0 15px;
        display: block;
    }
    .message-list .ksports-inbox-table-wrapper .ksports-inbox-table-row.table-head {
        display: none;
    }

    .message-list .ksports-inbox-table-wrapper .ksports-inbox-table-row li {
        width: 100%!important;
        display: flex;
        padding: 11px 10px;
    }

    .message-list .ksports-inbox-table-wrapper .ksports-inbox-table-row li:before {
        content: ""attr(data-title)"";
        width: 80px;
    }

    .message-list .individual-user-msg .user-msg-reply .submit-area {
        display: block;
    }
    .message-list .individual-user-msg .user-msg-reply .submit-area .form-group input, 
    .message-list .individual-user-msg .user-msg-reply .submit-area .form-group select {
        width: 100%;
        margin-left: 0;
    }
    .message-list .individual-user-msg .user-msg-reply .submit-area .form-group .ksports-btn {
        margin-left: 0;
    }

}