.gallery-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: -40px;
    padding-right: 170px;

    .single-gallery {
        width: calc(100% / 5 - 40px);
        margin-left: 40px;
        margin-bottom: 40px;

        .img-area {
            position: relative;

            .video-play {
                font-size: 24px;
                width: 80px;
                height: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 4px solid #fff;
                color: #fff;
                filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            li {
                width: calc(50% - 7px);
            }

            .ksports-btn {
                font-size: 15px;
                padding: 15px 15px;
                width: 100%;
                min-width: auto;
                background: #9B9B9B;
                border-color: #9B9B9B;
                color: #fff;

                &.delete {
                    background-color: $primary-color;
                    border-color: $primary-color;
                    color: #fff;
                }
            }
        }

        &.add-new-item {
            min-height: 260px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .actions {
                margin-top: 0;
            }
        }
    }
}


@media (max-width: 1699px) {
    .gallery-wrapper {
        padding-right: 0;
    }

    .gallery-wrapper .single-gallery .img-area .video-play {
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        font-size: 16px;
    }

}

@media (max-width: 1399px) {
    .gallery-wrapper {
        margin-left: -16px;
    }

    .gallery-wrapper .single-gallery {
        width: calc(100% / 5 - 16px);
        margin-left: 16px;
        margin-bottom: 30px;
    }

    .gallery-wrapper .single-gallery .actions .ksports-btn {
        font-size: 13px;
        padding: 9px 11px;
    }

    .gallery-wrapper .single-gallery .actions {
        margin-top: 12px;
    }

}

@media (max-width: 1199px) {
    .gallery-wrapper .single-gallery {
        width: calc(100% / 4 - 16px);
        margin-left: 16px;
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {
    .gallery-wrapper .single-gallery {
        width: calc(100% / 3 - 16px);
    }

}

@media (max-width: 575px) {
    .gallery-wrapper .single-gallery {
        width: calc(100% / 2 - 16px);
    }

}