
@import 'variables';
@font-face {
    font-family: 'Spantaran';
    src: url('../fonts/Spantaran.eot');
    src: url('../fonts/Spantaran.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spantaran.woff2') format('woff2'),
        url('../fonts/Spantaran.woff') format('woff'),
        url('../fonts/Spantaran.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//*---------------------------*/

* {
    margin: 0px;
    padding: 0px;
}
*:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
body, html {
    height: 100%;
    width: 100%;
}

body, p {
    direction: ltr;
    font-family: $body-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6, p, figur, a {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $body-font;
    font-weight: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}

a:hover,
a:focus,
input:focus,
button:focus,
a:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


//*-----------heading tag Typogrpahy------------*/
h1 {
    font-size: 80px;
    line-height: 1.4;
}
h2 {
    font-size: 40px;
    line-height: 1.4;
}
h3 {
    font-size: 30px;
    line-height: 1.4;
}
h4 {
    font-size: 24px;
    line-height: 1.4;
}
h5 {
    font-size: 20px;
    line-height: 1.4;
}
h6 {
    font-size: 18px;
    line-height: 1.4;
}

//*-----------extendable classes-----------*/
.pos-relative {
    position: relative;
}

.primary-color {
    color: $primary-color
}

a,
.transition-3s {
   transition: all 0.3s ease;
}
.transition-5s {
    transition: all 0.5s ease;
}
.ksports-btn {
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    min-width: 160px;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 21px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: $primary-color;
    color: #fff;
    position: relative;
    text-transform: capitalize;

    &:hover {
        color: $primary-color;
        background-color: transparent;
        border-color: $primary-color;
    }

    &.outline {
        color: $primary-color;
        background-color: transparent;
        border-color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    &.black-bg {
        background: #060707;
        color: #fff;
    }
    
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hints {
    font-size: 14px;
    line-height: 1.3;
    display: block;
    margin-top: 8px;
    font-style: italic;
}

select,
textarea,
input[type="file"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="text"]{
    height: 48px;
    width: 100%;
    padding: 8px 15px;
    font-size: 16px;
    color: #989898;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #C4C4C4!important;
    box-shadow: none;
    background: transparent;
    border-radius: 5px;
}

.form-group {
    position: relative;

    .label,
    label {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
}

input[type="file"] {
    padding-top: 12px;
}

textarea {
    min-height: 120px;
    padding-top: 15px;
}


@media ( min-width: 1200px ){
    .container-1400 {
        max-width: 1200px;
        padding: 0 15px;
        width: 100%;
        margin: 0 auto;
    }

}

@media ( min-width: 1500px ){
    .container-1400 {
        max-width: 1440px;
        padding: 0 15px;
        width: 100%;
        margin: 0 auto;
    }

}


//------large gutter style-----
.row.large-gutters {
    margin-right: -30px;
    margin-left: -30px;
}

.row.large-gutters > [class^="col-"],
.row.large-gutters > [class*=" col-"] {
    padding-right: 30px;
    padding-left: 30px;
}

.has-sticky-nav {
    padding-top: 95px;
}

//------small gutter style-----
.row.sml-gutters {
    margin-right: -9px;
    margin-left: -9px;
}
  
.row.sml-gutters > [class^="col-"],
.row.sml-gutters > [class*=" col-"] {
    padding-right: 9px;
    padding-left: 9px;
}

.section-title {
    max-width: 1040px;
    margin: 0 auto 50px;
    text-align: center;
    
    h2 {
        font-weight: 600;
        margin-bottom: 14px;
        position: relative;
        text-transform: uppercase;
    }
    h3 {
        text-transform: uppercase;
        color: #000000;
        display: inline-block;
        position: relative;
        font-weight: 600;
        margin-bottom: 5px;
        padding-left: 50px;

        &:before {
            content: "";
            width: 40px;
            height: 6px;
            background: #32BBFF;
            position: absolute;
            left: 0;
            top: 19px;
        }
    }
}

.hr-line {
    border-color: #C4C4C4;
}

.selectbox {
    position: relative;

    select {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        right: 14px;
        top: 16px;
        width: 10px;
        height: 10px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        font-size: 20px;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transform: rotate(45deg);
    }
}


.checkbox-style {
    display: block;
    margin: 0;
    line-height: 1.3;

    input[type="checkbox"] {
        display: none;
    }

    label {
        margin-bottom: 0;
    }

    .check-box {
        padding-left: 38px;
        color: #34465D;
        display: inline-block;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #ddd;
        }
        &:after {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            left: 6px;
            top: 4px;
            color: $secondary-color;
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }
    }

    input[type="checkbox"]:checked + .check-box::after {
        opacity: 1;
        visibility: visible;
    }

}

.radio-style {
    display: block;
    margin: 0;
    line-height: 1.3;

    input[type="radio"] {
        display: none;
    }

    label {
        margin-bottom: 0;
    }

    .check-box {
        padding-left: 38px;
        color: #34465D;
        display: inline-block;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 100%;
            border: 2px solid #ddd;
            transition: all 0.3s ease;
        }
        &:after {
            content: "\f111";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            left: 6px;
            top: 4px;
            color: $primary-color;
            font-size: 13px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }
    }

    input[type="radio"]:checked + .check-box::after {
        opacity: 1;
        visibility: visible;
    }
    input[type="radio"]:checked+.check-box::before {
        border-color: $primary-color;
    }

}

@media only screen and (max-width: 1199px) {
    .section-title {
        h2 {
            font-size: 30px;
        }
    }
    .section-title h3 {
        font-size: 20px;
    }

    .section-title h3:before {
        height: 2px;
        top: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .section-title {
        h3 {
            font-size: 16px;
        }
        h3:before {
            top: 10px;
        }

        h2 {
            font-size: 26px;
        }
        p{
            font-size: 15px;
        }
    }

    .ksports-btn {
        font-size: 14px;
        min-width: 140px;
        padding: 14px 18px;
    }
}


/*----------icon puls hover---------*/
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width: 575px) {
    .section-title h3 {
        font-size: 20px;
    }
    .has-sticky-nav {
        padding-top: 67px;
    }   
}