.ksports-faq {
    .overlay {
        background: linear-gradient(90deg, #F4F4F4 -25.47%, rgba(255, 255, 255, 0) 100%);
        width: 69%;
        left: inherit;
        right: 0;
    }

    .faq-tab-nav {
        padding-top: 70px;
        height: 100%;

        .nav-link {
            background: transparent;
            border: none;
            text-align: left;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            color: #191047;
            margin-bottom: 9px;
            cursor: pointer;
            padding-left: 0;

            &.active {
                background-color: transparent;
                color: $primary-color;
            }
        }
    }

    .faq-content {
        padding: 40px;

        .faq-section-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 1.4;
            color: #15375A;
            background: #F7F7F7;
            border-radius: 20px 20px 0px 0px;
            margin-bottom: 22px;
            padding: 28px 40px;
        }

        .card {
            margin-bottom: 10px;
            border: none;
            border-radius: 10px;
            background: transparent;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .card-header {
            padding: 0;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: none;
            border-radius: 10px !important;

            button {
                font-weight: 600;
                font-size: 18px;
                line-height: 1.3;
                color: #3C4447;
                display: block;
                width: 100%;
                text-align: left;
                padding: 22px 50px;
                box-shadow: none;
                outline: none;
                border: none;
                background: transparent;
                border-radius: 10px 10px 0px 0px;

                i {
                    position: absolute;
                    left: 0;
                    top: 24px;
                    transition: all 0.3s ease;
                    color: #E19D05;
                    font-size: 23px;
                }

                &[aria-expanded="false"]{
                    i {
                        transform: rotate(45deg);
                        color: #32BBFF;
                    }
                }
            }
        }

        .card-body {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #4B4B4B;
            padding: 20px;
            border-radius: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.5);
            margin-left: 50px;
        }
    }
}


@media (max-width: 1199px){
    .ksports-faq .overlay {
        width: 74%;
    }

}

@media (max-width: 767px){
    .ksports-privacy-policy-banner .section-title h2 {
        font-size: 26px;
    }

    .ksports-faq .overlay {
        display: none;
    }

    .ksports-faq .faq-content {
        padding: 10px 0 30px;
    }

    .ksports-faq .faq-tab-nav {
        padding-top: 40px;
        height: 100%;
        overflow: auto;
        max-width: 100%;
        flex-flow: row !important;
        justify-content: center;
    }
    .ksports-faq .faq-tab-nav .nav-link {
        color: #9B9B9B;
    }
    
    .ksports-faq .faq-content .faq-section-title {
        font-size: 22px;
        padding: 18px 20px;
    }
    .ksports-faq .faq-content .card-body {
        padding: 0px 17px 0;
        letter-spacing: normal;
    }

}

@media (max-width: 575px) {

    .ksports-faq .faq-content .card-header button {
        white-space: normal;
        text-align: left;
        padding: 16px 12px 12px 38px;
    }
    .ksports-faq.faq-content .card-body {
        padding: 20px;
    }
    .ksports-faq .faq-content .card-header button {
        font-size: 16px;
    }
    .ksports-faq .faq-content .card-header button i {
        top: 17px;
    }

}
