.ksports-footer {
    background: #0000CD;
    padding: 90px 0 0; 

    .newsletter-area {
        text-align: center;
        margin: 0 auto 55px;

        .short-title {
            font-weight: 500;
            font-size: 30px;
            line-height: 1;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            margin-bottom: 16px;
            display: inline-block;

            &:before {
                content: "";
                width: 40px;
                height: 6px;
                background: #32BBFF;
                position: absolute;
                left: -50px;
                top: 12px;
            }
        }

        h2 {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 40px;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        & > p {
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            max-width: 983px;
            width: 100%;
            margin: 0 auto 50px;
        }

        form {
            display: flex;
            background: #fff;
            border: 4px solid #fff;
            max-width: 590px;
            margin: 0 auto;

            input[type="email"] {
                height: 60px;
                width: calc(100% - 110px);
                margin-right: 10px;
                background: #fff;
                border: none!important;
            }

            .ksports-btn {
                min-width: 100px;
                padding: 21px 16px;
                border-radius: 0;
                background: $primary-color;
                color: #fff;
            }
        }

    }

    .footer-widget-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 50px;
        display: flex;
        flex-flow: row wrap;
    }

    .footer-logo-area {
        max-width: 410px;

        .footer-logo {
            margin-bottom: 15px;
        }
        p {
            color: #fff;
        }
    }

    .single-widget:not(.footer-logo-area) {
        width: calc((100% - 410px) / 4);
        padding-left: 30px;
        padding-right: 15px;
    }
    .single-widget:not(.footer-logo-area).contact {
        padding-left: 0;
        padding-right: 0;
    }
    
    .single-widget {
        .widget-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }

        .widget-menu {
            li {
                margin-bottom: 7px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 16px;
                    line-height: 1.3;
                    color: #FFFFFF;
                    word-break: break-all;

                    &:hover {
                        text-decoration: underline;
                    }
                    
                    i {
                        margin-right: 10px;
                        color: #fff;
                    }
                }
            }
        }
    }

    
    .copyright-text-area {
        margin-top: 55px;
        padding: 17px 0;
        background-color: #1E90FF;
        
        .copyright-text {
            font-size: 16px;
            line-height: 1.4;
            color: #FFFFFF;

            span {
                color: $primary-color;
            }
            
            a {
                color: $primary-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    
    .social-menu {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: flex-end;

        li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #fff;
                font-size: 28px;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

}


@media (max-width: 1399px) {
    .ksports-footer .footer-logo-area {
        max-width: 350px;
    }

    .ksports-footer .single-widget:not(.footer-logo-area) {
        width: calc((100% - 350px) / 4);
    }

}

@media (max-width: 1199px) {
    .ksports-footer .footer-logo-area {
        max-width: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .ksports-footer .single-widget:not(.footer-logo-area) {
        width: calc(100% / 4);
    }

}

@media (max-width: 991px) {
    .ksports-footer .single-widget:not(.footer-logo-area) {
        width: calc(100% / 2);
    }
    .ksports-footer .single-widget {
        margin-bottom: 30px;
    }

    .ksports-footer .copyright-text-area .copyright-text {
        text-align: center;
        margin-bottom: 10px;
    }
    .ksports-footer .social-menu {
        justify-content: center;
    }
    

}

@media (max-width: 767px) {
    .ksports-footer .newsletter-area h2 {
        font-size: 26px;
    }
    .ksports-footer .newsletter-area .short-title {
        font-size: 18px;
    }
    .ksports-footer .newsletter-area .short-title:before {
        width: 30px;
        height: 2px;
        left: -40px;
        top: 7px;
    }


}

@media (max-width: 575px) {
    .ksports-footer .single-widget {
        margin-left: 0;
    }
    .ksports-footer .copyright-text-area {
        margin-top: 15px;
    }
}

@media (max-width: 520px) {
    .ksports-footer .single-widget:not(.footer-logo-area) {
        width: calc(100% / 1);
        padding: 0;
    }
}