.ksports-header {
    padding: 15px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff;

    &.sticky {
       background-color: #ffffffbf; 
    }

    .bg-light {
        background-color: transparent !important;
    }

    .navbar-brand {
        margin-right: 30px;
        padding: 0;

        img {
            max-width: 260px;
        }
    }

    .dropuser.for-mobile {
        display: none;

        .nav-link {
            color: #19052B;
            font-size: 18px;
            line-height: 1.3;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navbar {
        padding: 0;
        border: none;
    }

    .navbar-nav {
        align-items: center;

        .nav-item {
            margin-left: 48px;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            .nav-link {
                font-size: 18px;
                line-height: 1.3;
                text-transform: capitalize;
                position: relative;
                padding-left: 0;
                padding-right: 0;
                font-weight: 500;
                color: #19052B;

                &:hover {
                    color: $primary-color;
                }

                &.dropdown-toggle {
                    font-size: 16px;
                }
            }

            &.active a {
                color: $primary-color;
            }

            &.user-login {
                display: flex;
                align-items: center;

                .ksports-btn {
                    background-color: $primary-color;
                    color: #ffffff;
                    font-weight: 600;
                    border-radius: 0;
                    padding: 14px 19px;
                    min-width: 125px;
                }
                
                .login {
                    background-color: transparent;
                    color: #19052B;
                    border-color: rgba(0, 0, 0, 0.4);
                    margin-right: 10px;

                    &:hover {
                        background-color: transparent;
                        color: #19052B;
                    }
                }
            }
            

            .dropdown-menu {
                min-width: 70px;
            }
        }
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    &.transparent {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        
        
        &.sticky {
            background: #ffffffbf;
            border-bottom: 1px solid #DCDCDC;

            .navbar-brand .logo-white {
                display: none;
            }
            .navbar-brand .logo-black {
                display: block;
            }

            .navbar-nav .nav-item .nav-link {
                color: #060707;
            }
            .navbar-nav .nav-item.balance .nav-link {
                border-color: #060707;
            }
            
        }
    }
    
}


@media (max-width: 1199px) {
    .ksports-header .navbar {
        border-bottom-color: #d5d5d53d!important;
    }

    .ksports-header .navbar-dark .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .ksports-header .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .ksports-header.transparent .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .ksports-header.transparent .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .ksports-header.sticky .navbar-dark .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .ksports-header.sticky .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .ksports-header .dropuser.for-mobile {
        margin-left: auto;
        margin-right: 22px;
    }
    .ksports-header .navbar-nav .nav-item.dropuser {
        display: none;
    }
    .ksports-header .navbar-nav .nav-item.user-login {
        display: flex;
        align-items: center;
        padding-left: 19px;
        margin-top: 18px;
    }

    // .ksports-header .navbar-collapse.collapsing,
    // .ksports-header .navbar-collapse.show {
    //     display: flex;
    //     flex-flow: column-reverse;
    //     align-items: flex-start;
    // }

    .ksports-header .navbar-nav {
        margin-left: 0!important;
        border-top: 1px solid #d5d5d53d;
        padding-top: 12px;
        margin-top: 20px;
        text-align: left;
        align-items: flex-start;
        width: 100%;
        background: #ffffffbf;
    }

    .ksports-header.transparent .navbar-nav .nav-item .nav-link {
        color: #060707;
    }
    .ksports-header .navbar-nav .nav-item:first-child {
        margin-left: 0;
    }

    .ksports-header .navbar-nav .nav-item {
        margin-left: 0!important;
        width: 100%;
    }
    .ksports-header .navbar-nav .nav-item .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ksports-header .nav-inline-items {
        display: block;
    }
   

}


@media (max-width: 575px) {
    .ksports-header .bg-light {
        padding: 0;
    }
    .ksports-header .navbar-brand img {
        max-width: 150px;
    }
    .ksports-header .navbar-nav .nav-item .nav-link {
        font-size: 15px;
    }

}

