.ksports-hero {
    background-color: #E1DEE3;
    background-color: #E1DEE3;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 780px;
    padding-top: 120px;

    .hero-content {
        h1 {
            font-family: 'Spantaran';
            font-weight: 400;
            font-size: 70px;
            line-height: 1.2;
            color: #32BBFF;
            
            span {
                color: #19052B;
                display: block;
            }
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            color: #4A4A4A;
            max-width: 500px;
            margin-top: 10px;
        }

        .ksports-btn.outline {
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;
            border-radius: 0;
            padding: 15px 25px;
            margin-top: 30px;

            img {
                margin-left: 4px;
                width: 11px;
            }
        }
    }
}


.ksports-feature {
    background: #F8F8F8;

    .feature-wrapper {
        background: #F8F8F8;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 73px;
        display: flex;
        flex-flow: row wrap;
        margin-top: -123px;

        .single-feature {
            background: #0000CD;
            border-radius: 5px;
            width: calc(100% / 4 - 30px);
            margin-left: 40px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding: 40px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            .title {
                font-weight: 600;
                font-size: 30px;
                line-height: 1;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 20px;
            }
        }
    }
}


.ksports-about {
    background: #F8F8F8;
    padding: 120px 0;

    .content-area {
        padding-left: 55px;

        .ksports-btn.outline {
            color: #19052B;
            background-color: transparent;
            border-color: #19052B;
            border-radius: 0;
            padding: 15px 25px;
            margin-top: 30px;
        }
    }

    .ksports-steps-img {
        display: none;
    }
}

.ksports-steps {
    background: #0000CD;
    padding: 100px 0 0;

    .section-title {
        p,
        h2 {
            color: #fff;
        }
    }

    .steps-content {
        padding-top: 30px;

        .single-step {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            .step-number {
                background: #FD8085;
                width: 86px;
                height: 86px;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .title {
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 1;
                    text-align: center;
                    letter-spacing: 0.09em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 5px;
                }
                .number {
                    font-weight: 600;
                    font-size: 42px;
                    line-height: 1;
                    text-align: center;
                    color: #FFFFFF;
                }

                .arrow-down {
                    position: absolute;
                    top: calc(100% + 10px);
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .step-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.4;
                color: #FFFFFF;
                padding-left: 30px;
                width: calc(100% - 86px);
                max-width: 390px;
            }

            &:last-child {
                margin-bottom: 0;

                .step-number {
                    .arrow-down {
                        display: none;
                    }
                }
            }

            &:nth-child(2) {
                .step-number {
                    background-color: #32BBFF;
                }
            }

            &:nth-child(3) {
                .step-number {
                    background-color: #0DC15C;
                }
            }

            &:nth-child(4) {
                .step-number {
                    background-color: #F9B036;
                }
            }
            
        }
       
    }

    .steps-img {
        margin-bottom: -10px;
    }

}

.ksports-cv-img {
    display: none;
}

.ksports-cv {
    background: #F8F8F8;
    padding: 110px 0;

    .section-title {
        padding-right: 110px;
    }

    .content-area {
        .single-item {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                width: 60px;
            }
            .content {
                width: calc(100% - 60px);
                padding-left: 24px;

                .title {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 1.2;
                    color: #19052B;
                    margin-bottom: 6px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(0, 0, 0, 0.8);
                    max-width: 520px;
                }
            }
        }
    }
}


.ksports-experience {
    padding-top: 110px;

    .single-experience {
        padding: 40px 0;
        background: #1E90FF;
        background: -moz-linear-gradient(left,  #1E90FF 50%, #0000CD 50%, #1E90FF 50%, #0000CD 50%);
        background: -webkit-linear-gradient(left,  #1E90FF 50%,#0000CD 50%,#1E90FF 50%,#0000CD 50%);
        background: linear-gradient(to right,  #1E90FF 50%,#0000CD 50%,#1E90FF 50%,#0000CD 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E90FF', endColorstr='#0000CD',GradientType=1 );

        &:nth-child(odd) {
            background: #0000CD;
            background: -moz-linear-gradient(left,  #0000CD 50%, #1E90FF 50%);
            background: -webkit-linear-gradient(left,  #0000CD 50%,#1E90FF 50%);
            background: linear-gradient(to right,  #0000CD 50%,#1E90FF 50%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000CD', endColorstr='#1E90FF',GradientType=1 );
        }

        .experience-content {
            padding-left: 115px;

            .title {
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 25px;
                }

                h4 {
                    width: calc(100% - 100px);
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 1.1;
                    color: #19052B;
                    padding-left: 27px;
                    text-transform: capitalize;
                }
            }

            .list {
                counter-reset: counter;

                li {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.5;
                    color: #19052B;
                    margin-bottom: 26px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &::before {
                        counter-increment: counter;
                        content: "" counter(counter) " ";
                        color: #19052B;
                        font-size: 18px;
                        width: 30px;
                        height: 30px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        border: 1px solid #19052B;
                        margin-right: 13px;
                    }
                }
            }

            &.white-color {
                .title h4 {
                    color: #ffffff;
                }
                .list li {
                    color: #ffffff;
                }
                .list li::before {
                    color: #ffffff;
                    border-color: #ffffff;
                }
            }
        }

    }
}


.ksports-client-logo {
    padding-top: 110px;

    .client-logo-wrapper {
        transform: translateX(-12px);

        .single-img {
            background: #F8F8F8;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 24px;
        }

        .slick-arrow {
            background: #F8F8F8;
            width: 50px;
            height: 50px;
            font-size: 18px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: -80px;
            transform: translateY(-50%);
            z-index: 2;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.4);
            color: #2A2A3C;

            &.slick-next {
                left: inherit;
                right: -80px;
            }
        }
    }
}


.ksports-testimonial {
    padding: 100px 0;

    .testimonial-wrapper {
        width: 100%;
        max-width: 1920px;
        transform: translateX(15px);
        background: #F8F8F8;
        border-radius: 10px;
        padding: 65px 95px;
    }

    .testimonial-inner-wrapper {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    .testimonial-content-wrapper {
        width: 540px;
        padding-right: 70px;
        padding-top: 40px;
    }

    .single-testimonial {
        .testimonial-txt {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            color: #2A2A3C;
            margin-bottom: 40px;
            position: relative;
            padding-top: 23px;

            .quote-left {
               position: absolute;
                left: 0;
                top: 0;
            }
            .quote-right {
                position: absolute;
                right: 2px;
                bottom: 0;
            }
        }

        .name {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            color: #2A2A3C;
        }
        .designation {
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #2A2A3C;
            margin-bottom: 25px;
        }
    }

    .testimonial-author-wrapper {
        width: calc(100% - 540px);

        .slick-slide img {
            max-width: 100%;
        }

        .slick-arrow {
            background: #FFFFFF;
            border: none;
            width: 60px;
            height: 60px;
            font-size: 18px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.4);

            i {
                opacity: 0.3;
                transition: all 0.3s ease;
            }
            &:hover i {
                opacity: 1;
            }

            &.slick-prev {
                left: calc(50% - 19px);
            }
            &.slick-next {
                left: calc(50% + 40px);
            }
        }
    }

}


@media (max-width: 1499px) {
    .ksports-feature .feature-wrapper {
        border: 2px solid rgba(0, 0, 0, 0.1);
        padding: 25px;
    }
    .ksports-feature .feature-wrapper .single-feature>img {
        height: 120px;
    }
    .ksports-feature .feature-wrapper .single-feature .title {
        font-size: 24px;
    }
    .ksports-client-logo .client-logo-wrapper .slick-arrow.slick-next {
        right: -29px;
    }
    .ksports-client-logo .client-logo-wrapper .slick-arrow {
        left: 0;
    }


    .ksports-client-logo .client-logo-wrapper .single-img>img {
        height: 120px;
    }

    .ksports-testimonial .testimonial-wrapper {
        padding: 45px;
    }

}

@media (max-width: 1199px) {
    .ksports-hero {
        height: auto;
        min-height: 695px;
        padding-top: 120px;
    }
    .ksports-hero .hero-content h1 {
        font-size: 50px;
    }
    .ksports-hero .hero-content p {
        font-size: 17px;
    }

    .ksports-feature .feature-wrapper .single-feature {
        width: calc(100% / 4 - 15px);
        margin-left: 20px;
    }
    .ksports-feature .feature-wrapper .single-feature>img {
        height: 100px;
    }

    .ksports-about {
        padding: 90px 0 0;
    }
    .ksports-about .content-area {
        padding-left: 15px;
    }

    .ksports-steps {
        background: #0000CD;
        padding: 70px 0;
    }

    .ksports-about .ksports-steps-img {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
    }

    .ksports-steps .steps-img {
        display: none;
    }

    .ksports-cv-img {
        display: block;
        text-align: center;
        padding: 40px 0;
    }

    .ksports-cv .img-area {
        display: none;
    }

    .ksports-cv {
        padding: 80px 0;
    }

    .ksports-cv .section-title {
        padding-right: 0;
        text-align: center !important;
    }

    .ksports-experience .single-experience .experience-content {
        padding-left: 35px;
    }
    .ksports-experience .single-experience .experience-content .title h4 {
        font-size: 28px;
    }

    .ksports-client-logo {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .ksports-client-logo .client-logo-wrapper .slick-arrow {
        left: calc(50% - 48px);
        top: calc(100% + 50px);
    }
    .ksports-client-logo .client-logo-wrapper .slick-arrow.slick-next {
        right: calc(50% - 65px);
    }

    .ksports-testimonial {
        padding: 100px 0 70px;
    }
    .ksports-testimonial .testimonial-wrapper {
        padding: 25px;
        transform: translateX(0);
    }
    .ksports-testimonial .testimonial-inner-wrapper {
        display: block;
    }
    .ksports-testimonial .testimonial-content-wrapper {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .ksports-testimonial .testimonial-author-wrapper {
        width: 100%;
    }
    .ksports-experience {
        padding-top: 70px;
    }

}

@media (max-width: 991px) {
    .ksports-hero {
        min-height: auto;
        padding-top: 140px;
        padding-bottom: 82px;
        overflow: hidden;
    }
    .ksports-hero .hero-img img {
        width: 450px;
        max-width: initial;
    }

    .ksports-feature .feature-wrapper {
        margin-top: -83px;
        padding: 18px;
    }
    .ksports-feature .feature-wrapper .single-feature>img {
        height: 60px;
    }
    .ksports-feature .feature-wrapper .single-feature .title {
        font-size: 16px;
    }
    .ksports-feature .feature-wrapper .single-feature {
        padding: 30px 20px;
    }

    .ksports-about .section-title {
        text-align: center !important;
        margin-top: 60px;
    }
    .ksports-about .ksports-steps-img {
        margin-bottom: -8px;
    }

    .ksports-experience .single-experience .experience-content {
        padding-left: 10px;
    }

    .ksports-experience .single-experience .experience-content .title img {
        width: 70px;
        height: 70px;
        border-radius: 15px;
    }

    .ksports-experience .single-experience .experience-content .title h4 {
        font-size: 22px;
        padding-left: 15px;
    }
    .ksports-experience .single-experience .experience-content .list li {
        font-size: 14px;
    }
    .ksports-experience .single-experience .experience-content .list li::before {
        font-size: 13px;
        width: 24px;
        height: 24px;
    }

    .ksports-client-logo .client-logo-wrapper .single-img>img {
        height: 90px;
    }
    .ksports-client-logo .client-logo-wrapper .single-img {
        margin-left: 15px;
    }
    .ksports-testimonial .testimonial-author-wrapper .slick-arrow {
        width: 40px;
        height: 40px;
    }
    .ksports-testimonial .testimonial-author-wrapper .slick-arrow.slick-prev {
        left: calc(50% - 9px);
    }
    .ksports-testimonial .testimonial-author-wrapper .slick-arrow.slick-next {
        left: calc(50% + 30px);
    }
    .ksports-testimonial .testimonial-content-wrapper {
        padding-top: 0;
    }

}

@media (max-width: 767px) {
    .ksports-hero .hero-content h1 {
        font-size: 34px;
    }
    .ksports-hero .hero-content p {
        font-size: 14px;
    }
    .ksports-hero .hero-img img {
        width: 310px;
    }
    .ksports-feature .feature-wrapper .single-feature {
        padding: 20px 13px;
    }
    .ksports-feature .feature-wrapper .single-feature>img {
        height: 50px;
    }
    .ksports-feature .feature-wrapper .single-feature .title {
        font-size: 12px;
        margin-top: 14px;
    }

    .ksports-about {
        padding: 70px 0 0;
    }
    .ksports-about .ksports-steps-img {
        margin-bottom: -6px;
    }

    
    .ksports-experience .single-experience .experience-content {
        padding-left: 0;
        margin-bottom: 50px;
    }
    .ksports-experience .single-experience {
        background: #1E90FF !important;
        padding: 0;
    }
    .ksports-experience .single-experience:nth-child(2) {
        padding-top: 40px;
    }
    .ksports-experience .single-experience .experience-content.white-color .list li {
        color: #19052B;
    }
    .ksports-experience .single-experience .experience-content.white-color .title h4 {
        color: #19052B;
    }
    .ksports-experience .single-experience .experience-content.white-color .list li::before {
        color: #19052B;
        border-color: #19052B;
    }

}

@media (max-width: 575px) {
    .ksports-hero {
        padding-bottom: 58px;
    }
    .ksports-hero .row.align-items-center {
        flex-wrap: nowrap;
    }
    .ksports-hero .row.align-items-center>.col-6:first-child {
        max-width: 200px;
    }

    .ksports-hero .hero-content h1 {
        font-size: 22px;
    }

    .ksports-hero .hero-img img {
        width: 261px;
        transform: translateX(-40px);
    }
    .ksports-hero .hero-content .ksports-btn.outline {
        padding: 10px 18px;
        font-size: 13px;
    }

    .ksports-feature .feature-wrapper {
        margin-top: -59px;
        padding: 10px;
    }
    .ksports-feature .feature-wrapper .single-feature {
        width: calc(100% / 4 - 6px);
        margin-left: 8px;
    }
    .ksports-feature .feature-wrapper .single-feature .title {
        font-size: 10px;
    }
    .ksports-feature .feature-wrapper .single-feature>img {
        height: 38px;
    }
    .ksports-about .ksports-steps-img {
        margin-bottom: -3px;
    }

    .ksports-steps .steps-content .single-step .step-number .number {
        font-size: 30px;
    }
    .ksports-steps .steps-content .single-step .step-number {
        width: 80px;
        height: 80px;
    }
    .ksports-steps .steps-content .single-step .step-title {
        font-size: 17px;
        padding-left: 15px;
        width: calc(100% - 80px);
    }

    .ksports-testimonial .single-testimonial .name {
        font-size: 24px;
    }
    .ksports-testimonial .single-testimonial .testimonial-txt {
        font-size: 14px;
    }

    .ksports-testimonial .single-testimonial .designation {
        font-size: 14px;
        line-height: 16px;
    }

}