.ksports-player-list {
    background: #F9F9F9;
    padding: 120px 0;

    .main-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #19052B;
        margin-bottom: 20px;
    }

    .single-player {
        border: 1px solid #0000CD;
        border-radius: 0px 20px;
        padding: 23px 23px 35px;
        // border-image-slice: 1;
        margin-bottom: 30px;
        transition: all 0.3s ease;
        background: #fff;
        
        &:hover {
            border-width: 5px;
            // border-image-source: linear-gradient(140deg, #4B03BB, #E19D05);
        }
        
        .player-img {
            margin-bottom: 23px;
            position: relative;

            img {
                border-radius: 0 22px 0 22px;
                max-width: 100%;
            }

            .favorite {
                position: absolute;
                top: 13px;
                right: 12px;
                cursor: pointer;
            }
        }

        .name {
            font-weight: 700;
            font-size: 30px;
            line-height: 1.3;
            color: #19052B;
            margin-bottom: 13px;
        }

        .team {
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            color: #19052B;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                margin-left: 6px;
            }
        }

        .price {
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            color: #19052B;
        }

        .btn-area {
            display: flex;
            flex-flow: row wrap;
            margin-top: 20px;
            margin-left: -10px;
            margin-right: -10px;

            li {
                width: calc(50% - 20px);
                margin: 10px 10px 0;

                a {
                    background-color: transparent;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #19052B;
                    padding: 14px 15px;
                    display: block;
                    border: 1px solid #0000CD;
                    border-radius: 0px 15px;
                    // border: 10px solid;
                    // border-image-slice: 1;
                    // border-width: 2px;
                    // border-image-source: linear-gradient(140deg, #4B03BB, #E19D05);

                    &:hover {
                        background-color: #0000CD;
                        color: #fff;
                        // background: linear-gradient(94.42deg, #4B03BB 5.62%, #E19D05 89.5%);
                    }
                }

                &:nth-child(2){
                    a{
                        background-color: #0000CD;
                        color: #fff;
                    }
                }
            }
        }
    }
}



.ksports-coach-list {
    .single-player .team img {
        margin-left: 12px;
        margin-right: 12px;
    }
    .single-player .player-img img.coach-img {
        width: 148px;
        height: 148px;
        object-fit: cover;
        margin: -67px auto 0;
        display: block;
    }
    .single-player .address {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        color: #19052B;
        display: flex;
        align-items: center;
        margin-top: 60px;

        img {
            margin-right: 10px;
        }
    }

    .single-player .btn-area li {
        // width: 100%;
    }

}

.ksports-club-list {
    .single-player {
        text-align: center;
    }
    .single-player .team {
        display: block;
    }
    .single-player .address {
        justify-content: center;
    }
}

@media (max-width: 1499px) {
    .ksports-player-list .single-player .btn-area li a {
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    .ksports-player-list {
        padding: 90px 0 60px;
    }
    .ksports-player-list .main-title {
        font-size: 26px;
    }

    .ksports-player-list .single-player {
        border-radius: 0px 10px;
        padding: 15px;
    }
    .ksports-player-list .single-player .btn-area li {
        width: calc(100% - 20px);
    }
    .ksports-player-list .single-player .player-img img {
        border-radius: 0 15px 0 15px;
    }
    .ksports-player-list .single-player .name {
        font-weight: 500;
        font-size: 22px;
    }
    .ksports-player-list .single-player .team {
        font-size: 15px;
    }
    .ksports-player-list .single-player .price {
        font-size: 18px;
    }


    .ksports-coach-list .single-player .address {
        font-size: 16px;
        margin-top: 40px;
    }
    .ksports-coach-list .single-player .address img {
        width: 14px;
    }

}

@media (max-width: 991px) {
    .ksports-coach-list .single-player .player-img img.coach-img {
        width: 118px;
        height: 118px;
        margin: -57px auto 0;
    }
}

@media (max-width: 767px) {
    .ksports-player-list .single-player {
        max-width: 380px;
        margin: 0 auto 30px;
    }
    .ksports-player-list .main-title {
        text-align: center;
    }

    .ksports-coach-list .single-player {
        text-align: center;
    }
    .ksports-coach-list .single-player .team {
        justify-content: center;
    }
    .ksports-coach-list .single-player .address {
        justify-content: center;
    }

}