.ksports-privacy-policy-banner {
    background: #1E90FF;
    padding: 50px 0;

    .section-title {
        margin-bottom: 0;

        h2, p {
            color: #fff;
        }
    }
}


.ksports-privacy-policy {
    background: #F9F9F9;
    padding: 100px 0;

    .section-title {
        h2 {
            font-weight: 700;
        }
    }

    .single-block {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 26px;
            line-height: 1.2;
            text-transform: capitalize;
            color: #19052B;
        }

        ol {
            padding-left: 20px;
            li {
                margin-bottom: 5px;
            }
        }
    }
    
}

@media (max-width: 767px) {
    .ksports-privacy-policy {
        padding: 70px 0;
    }
    
}