.player-profile-details-body {
    .player-profile-info  {
        .cover-photo {
            height: 300px;
        }

        .player-profile-content-wrapper {
            .player-profile-content {
                position: relative;
                background-image: url(../images/player-img-bg.png);
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: cover;
                overflow: hidden;

                .profile-player-img {
                    position: absolute;
                    bottom: -20px;
                    right: 10px;
                    width: 528px;
                }

                .player-statistics {
                    padding: 70px 0;

                    .player-name {
                        background-image: url(../images/player-name-shape.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center center;
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 1;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        padding: 10px;
                        width: 560px;
                        text-align: center;
                        margin-bottom: 35px;
                        position: relative;
                        z-index: 2;

                        small {
                            display: block;
                        }

                        img {
                            position: relative;
                            top: -3px;
                        }
                    }

                    .single-statistics {
                        background-image: url(../images/shape-2.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center center;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 1.3;
                        color: #FFFFFF;
                        width: 440px;
                        padding: 12px 55px 12px 15px;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                        z-index: 2;

                        .label {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 36px;
                            color: #FFFFFF;
                            width: 150px;
                            text-align: left;
                            position: relative;

                            &:before {
                                content: "";
                                width: 20px;
                                height: 20px;
                                background: #87CEFA;
                                position: absolute;
                                left: -30px;
                                top: 8px;
                                border-radius: 100%;
                            }
                        }

                        .value {
                            width: 130px;
                        }
                    }
                }

                .player-title {
                    .friends-count {
                        display: block;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 1;
                        color: #34465D;
                        margin-top: 10px;
                    }
                }
            }

            .category {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                margin-left: -10px;
                margin-top: 30px;

                li {
                    margin: 0 10px;
                    a {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 1;
                        text-align: center;
                        color: #757575;
                        background: #F9F9F9;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 40px;
                        display: block;
                        padding: 14px 22px;

                        &:hover {
                            background-color: #1E90FF;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.player-inner-menu {
    margin-top: 50px;
    padding-bottom: 70px;

    .inner-menu {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        width: 100%;
        padding: 0 0 10px;
        margin-bottom: 40px;
                
        .nav-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #757575;
            padding: 13px 0;
            display: block;
            position: relative;
            margin-right: 50px;
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover {
                color: #191047;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: -11px;
                left: 0;
                height: 4px;
                width: 100%;
                background: #00AECE;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: #191047;

                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

    }

    .info-heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #191047;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .ksports-player-list {
        background: transparent;
        padding: 0;
    }
    .ksports-player-list .single-player .name {
        color: #000000;
    }
    .ksports-player-list .single-player .team {
        color: #000;
        font-size: 18px;
    }
    .ksports-coach-list .single-player .address {
        color: #000000;
        font-size: 18px;
    }
    .ksports-player-list .single-player .btn-area li a {
        color: #000000;
    }
    .ksports-player-list .single-player .btn-area li a:hover {
        color: #ffffff;
    }

    .player-information {
        width: 100%;
        margin-bottom: 15px;

        ul {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            max-width: 690px;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.3;
                color: #4B4B4B;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 10px;
                margin-bottom: 14px;

                .info-title {
                    width: 50%;
                    display: inline-block;
                    padding-right: 10px;
                }
                
                .info-duration {
                    width: 50%;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.3;
                    color: #4B4B4B;
                }
            }
        }
    }

    .favourite-position {
        display: flex;
        flex-flow: row wrap;

        .single-position {
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 20px 30px;
            margin-right: 30px;
            text-align: center;
            border-radius: 6px;

            & > span {
                font-size: 16px;
                display: block;
                line-height: 1.2;
                margin-bottom: 14px;
            }
            & > h3 {
                font-size: 24px;
                font-weight: 600;
                color: #000;
                line-height: 1;
            }
        }
    }

}



@media only screen and (max-width: 1399px) {
    
    
}

@media only screen and (max-width: 1199px) {
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name {
        font-size: 35px;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .category {
        margin-left: -5px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .category li {
        margin: 0 5px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .category li a {
        font-size: 14px;
        padding: 10px 16px;
    }

    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title {
        font-size: 34px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .address {
        font-size: 18px;
        margin: 12px 0;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .address img {
        width: 16px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-position li {
        font-size: 18px;
    }

    .player-profile-details-body .player-profile-info .cover-photo {
        height: 240px;
    }
    

}

@media only screen and (max-width: 991px) {
    .player-profile-details-body .player-profile-info .cover-photo {
        height: 210px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics {
        width: 380px;
        padding: 8px 35px 8px 15px;
        font-size: 16px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics .label {
        font-size: 14px;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name {
        width: 430px;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content {
        background-position: calc(100% + 80px) bottom;
    }
        .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .profile-player-img {
            width: 458px;
        }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics .label:before {
        width: 12px;
        height: 12px;
        left: -21px;
        top: 12px;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name {
        font-size: 25px;
    }

    .player-inner-menu .inner-menu {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        height: 57px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title {
        font-size: 24px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-position li {
        font-size: 16px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-position li:first-child {
        margin-right: 30px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title img {
        width: 19px;
    }
    
    .player-inner-menu .inner-menu .nav-link {
        margin-right: 24px;
    }
    .player-inner-menu .player-information .nav-link {
        font-size: 16px;
        padding: 10px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .category li {
        margin-bottom: 10px;
    }

    .player-inner-menu {
        margin-top: 0;
    }


}

@media only screen and (max-width: 767px) {
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name {
        width: 320px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name img {
        width: 21px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics {
        width: 310px;
        padding: 8px 35px 8px 32px;
    }

    .player-inner-menu .player-information ul li .info-title {
        width: auto;
    }

    .player-inner-menu .profile-link {
        margin: 10px auto 50px;
    }

    .player-inner-menu .player-information ul {
        display: block;
    }
    .player-inner-menu .player-information ul li {
        width: 100%;
        padding: 0;
    }

}

@media only screen and (max-width: 575px) {
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics {
        width: 100%;
        max-width: 310px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .player-name {
        width: 100%;
        max-width: 320px;
    }
    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content {
        background-position: calc(100% + 140px) bottom;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics span {
        line-height: 1.4 !important;
        display: block;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .player-statistics .single-statistics .label:before {
        width: 8px;
        height: 8px;
        left: -17px;
        top: 6px;
    }

    .player-profile-details-body .player-profile-info .player-profile-content-wrapper .player-profile-content .profile-player-img {
        max-width: 378px;
        width: 100%;
    }
    
    .player-gallery .player-gallery-filter li a {
        font-size: 14px;
        padding: 8px 0;
    }
    .player-inner-menu .profile-link .icon {
        padding: 13px 11px;
        width: 110px;
    }
    .player-inner-menu .profile-link>.link {
        padding: 18px 14px;
        width: calc(100% - 110px);
    }
    .player-inner-menu .inner-menu button.active:before {
        display: none;
    }

    .player-profile-info .player-profile-content-wrapper .player-profile-img {
        width: 110px;
        height: 110px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-img>img {
        border: 2px solid #ffffff;
    }

    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title {
        font-size: 20px;
    }

    .player-profile-info .player-profile-content-wrapper .player-profile-content .address {
        font-size: 11px;
        margin: 9px 0;
    }

    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-position li:first-child {
        margin-right: 10px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-position li {
        font-size: 11px;
    }

}