.player-profile-body {
    padding-top: 0;
}

.player-profile-details-body {
    background: #F9F9F9;
}

.player-profile-info {
    padding-top: 50px;

    .cover-photo {
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;

        &>.container,
        &>.container > .row{
            height: 100%;
        }

        .edit-cover-photo {
            position: absolute;
            bottom: 30px;
            right: 10px;
            background: #fff;
            border-color: #fff;
            color: #34465D;
        }
    }

    .player-profile-content-wrapper {
        position: relative;

        .player-profile-img {
            width: 200px;
            height: 200px;
            position: relative;
            border-radius: 5px;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 5px solid #ffffff;
                background: #C4C4C4;
                border-radius: 5px;
            }

            .change-profile-img {
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                position: absolute;
                bottom: -23px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;

                img {
                    width: 22px;
                }
            }
        }

        .player-profile-content {
            .player-title {
                font-weight: 600;
                font-size: 40px;
                line-height: 1.3;
                color: #191047;
            }

            .address {
                font-size: 24px;
                line-height: 1.3;
                color: #4B4B4B;
                margin: 20px 0;
            }

            .player-position {
                display: flex;
                align-items: center;

                li {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1;
                    color: #191047;

                    &:first-child {
                        margin-right: 80px;
                    }
                }
            }

        }
        
    }

    .profile-btns {
        display: flex;
        align-items: center;
        margin-top: 50px;

        li {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
            
            &.more-option {
                button {
                    border: none;
                    height: 58px;
                    width: 58px;
                    background: #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}


.player-pricing {
    padding: 100px 0;

    .pricing-content {
        padding-right: 15%;

        .title {
            font-weight: 700;
            font-size: 40px;
            line-height: 1.3;
            text-transform: capitalize;
            color: #34465D;
            margin-bottom: 20px;
        }
        .desc {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #777777;
            margin-bottom: 40px;
        }
    }
}

.gt-video-box {
    .box-header {
        background: #F63134;
        border-radius: 20px 20px 0px 0px;
        height: 200px;
        padding: 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        h6 {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.2;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-top: 25px;
        }
    }

    .box-footer {
        background: #FFFFFF;
        border-radius: 0px 0px 5px 5px;
        padding: 18px 20px;
        text-align: center;

        .price-txt {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            text-transform: capitalize;
            color: #34465D;
        }
        .time-duration {
            font-weight: 600;
            font-size: 16px;
            line-height: 1;
            text-transform: capitalize;
            color: #777777;
            margin-top: 8px;
            display: block;
        }
    }
}

.gt-services {
    .service-content {
        padding-right: 15%;

        .title {
            font-weight: 700;
            font-size: 40px;
            line-height: 1.3;
            text-transform: capitalize;
            color: #34465D;
            margin-bottom: 20px;
        }

        .desc {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #777777;
            margin-bottom: 40px;
        }
    }

    .video-box-col {
        margin-bottom: 30px;
    }
}

.recent-gt {
    background: #F6F6F6;
    padding: 100px 0;

    .recent-gt-col {
        margin-bottom: 40px;
    }

    .single-greeteeam {
        width: 350px;
        height: 350px;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            transition: all 0.5s ease;
        }

        .play-icon {
            background: rgba(246, 49, 52, 0.5);
            border: 3px solid #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            color: #fff;
            font-size: 20px;
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: 2;
        }

        &:hover:before {
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            img {
                transform: scale(1.3);
            }
            .play-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .player-profile-info .player-profile-content-wrapper .player-profile-img {
        width: 210px;
        height: 210px;
    }

}


@media only screen and (max-width: 767px) {
    .player-profile-info .player-profile-content-wrapper .player-profile-img {
        width: 140px;
        height: 140px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-img .change-profile-img {
        height: 40px;
        width: 40px;
        bottom: -18px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-img .change-profile-img img {
        width: 16px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title {
        font-size: 20px;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .follower li {
        font-size: 15px;
        text-align: left;
    }
    .player-profile-info .profile-btns li {
        margin-right: 10px;
    }
    .player-profile-info .profile-btns li.more-option button {
        height: 48px;
        width: 48px;
    }


}

@media only screen and (max-width: 575px) {
    .player-profile-info .profile-btns {
        flex-flow: row wrap;
    }
    .player-profile-info .profile-btns li {
        margin-bottom: 10px;
    }
    .player-pricing .gt-video-box {
        margin-bottom: 30px;
    }

    .recent-gt .single-greeteeam {
        width: 120px;
        height: 120px;
    }
    .recent-gt .recent-gt-col {
        margin-bottom: 30px;
    }

    .friends-page .player-profile-info .player-profile-content-wrapper .player-profile-content .player-title {
        margin: 10px 80px 10px 0;
    }
    .player-profile-info .player-profile-content-wrapper .player-profile-content .address img {
        width: 11px;
    }


}