.ksports-signup {
    padding: 100px 0;
    background: #F9F9F9;

    .contact-us-content-wrapper {
        display: flex;
        flex-flow: row wrap;

        
        .contact-us-left {
            padding: 80px 70px 80px 70px;
            width: 50%;
            background: #FFFFFF;
            box-shadow: -10px 10px 100px rgba(0, 0, 0, 0.05);

            .form-title {
                font-weight: 600;
                line-height: 1.3;
                color: #191047;
                text-transform: uppercase;
            }
            
            form {
                margin-top: 30px;

                .form-group {
                    position: relative;

                    .label {
                        font-size: 17px;
                        color: #191047;
                        font-weight: 600;
                        margin: 0 0 6px 0;
                        display: block;
                    }

                    // &>label:not(.show-password) {
                        
                    //     position: absolute;
                    //     top: 50%;
                    //     left: 0px;
                    //     -webkit-transform: translateY(-50%);
                    //     -ms-transform: translateY(-50%);
                    //     transform: translateY(-50%);
                    //     pointer-events: none;
                    //     -webkit-transition: all 0.15s ease-out 0s;
                    //     transition: all 0.15s ease-out 0s;
                    //     font-size: 17px;
                    //     font-weight: 600;
                    //     color: #191047;
                    //     margin: 0;
                    // }

                    // textarea,
                    // select,
                    // &>input {
                    //     height: 44px;
                    //     padding: 5px 0;
                    //     font-size: 16px;
                    //     color: #333;
                    //     outline: none;
                    //     border-radius: 0;
                    //     background: transparent;
                    //     border-top: none!important;
                    //     border-right: none!important;
                    //     border-left: none!important;
                    // }

                    // &>input:focus+label:not(.show-password),
                    // &>input.has-value+label:not(.show-password),
                    // &>textarea:focus+label:not(.show-password),
                    // &>textarea.has-value+label:not(.show-password) {
                    //     top: 0;
                    // }

                    // &>textarea:focus+label:not(.show-password),
                    // &>textarea.has-value+label:not(.show-password) {
                    //     top: 30px;
                    // }

                    // &>input:focus::-webkit-input-placeholder {
                    //     color: transparent;
                    // }

                    .icon {
                        position: absolute;
                        bottom: 13px;
                        right: 0;
                    }

                    textarea {
                        background: #F9F9FB;
                        border:none!important;
                        border-radius: 5px;
                        padding: 17px;
                    }

                }

                .show-password {
                    font-size: 18px;
                    position: absolute;
                    right: 1px;
                    left: inherit;
                    bottom: 8px;
                    height: 43px;
                    cursor: pointer;
                    font-weight: 600;
                    border: none;
                    padding: 8px 10px 8px 10px;
                    background: transparent;
                    margin: 0;
                    z-index: 2;
                    pointer-events: all;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .fa-eye-slash {
                        display: none;
                    }

                    i {
                        position: relative;
                        bottom: 0;
                        right: inherit;
                    }
                }

                #show-password {
                    display: none;
                }

            }
        }

        .contact-us-right {
            padding: 30px;
            background-color: #2A374A;
            background-image: url('../images/signup-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 50%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            .signup-text {
                background: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(100px);
                border-radius: 10px;
                margin-top: auto;
                padding: 25px;
                text-align: center;

                h3 {
                    font-weight: 700;
                    font-size: 30px;
                    color: #191047;
                    max-width: 360px;
                    margin: 0 auto 10px;
                }
                
            }
            
        }

    }
}

.ksports-login {
    .contact-us-content-wrapper {
        .contact-us-right {
            background-image: url('../images/login-bg.jpg');
        }
    }
}


@media (max-width: 1199px) {
    .ksports-signup .contact-us-content-wrapper .contact-us-left {
        padding: 40px;
    }
    
}


@media (max-width: 991px) {
    .ksports-signup .contact-us-content-wrapper .contact-us-left {
        padding: 20px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-right .signup-text h3 {
        font-size: 20px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-left .form-title {
        font-size: 30px;
    }

}

@media (max-width: 767px) {
    .ksports-signup .contact-us-content-wrapper {
        flex-flow: column-reverse;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-right {
        padding: 20px;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 430px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-left {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-right .signup-text {
        padding: 15px;
    }

}

@media (max-width: 575px) {
    .sigup-page .ksports-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        background: transparent;
        border-bottom: none;
    }
    .ksports-header .navbar-nav .nav-item.user-login {
        margin-bottom: 20px;
    }

    .ksports-signup {
        padding: 0 0 70px;
    }
    .ksports-signup .container {
        left: -15px;
        position: relative;
        width: calc(100% + 30px);
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-right {
        border-radius: 0;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-left {
        border-top-left-radius: 40px;
        margin-top: -40px;
        padding: 30px 20px 20px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-left .form-title {
        font-size: 22px;
    }
    .ksports-signup .contact-us-content-wrapper .contact-us-left form {
        margin-top: 15px;
    }

    .sigup-page .ksports-login .contact-us-content-wrapper .contact-us-right {
        background-image: url(../images/login-mobile-bg.jpg);
    }

}